<!--link script_unique to get the audio infomartions-->
<script src="../rendererProcess/view/uniqueQr/script_unique.js"></script>

<div class="card-deck" id="charger-page">
  <div class="col-sm-12 card">

    <nav class="nav nav-tabs">
      <a class="nav-item nav-link" id="unique-info" href="#info-unique">Unique</a>
      <a class="nav-item nav-link" id="multiple-info" href="#info-multiple">Multiple</a>
      <a class="nav-item nav-link" id="exo-qrcode-info" href="#info-exercice-qrcode">Exercice - QR Code</a>
      <a class="nav-item nav-link" id="exo-reco-vocale-info" href="#info-exercice-reco-vocale">Exercice - Reco
        vocale</a>
      <a class="nav-item nav-link" id="serious-game-info" href="#info-serious-game">Serious Game</a>
      <a class="nav-item nav-link" id="music-info" href="#info-MusicInput">Musique</a>
      <a class="nav-item nav-link" id="import-info" href="#info-Import">Import</a>
    </nav>

    <div class="tab-content" id="myInfo">
      <div class="tab-pane" id="info-unique">
        <h5>Comment utiliser les QR Unique ?</h5>
        <hr>
        <h5><a href="#affichageVideoUnique" id="buttonAffichageVideoUnique">Vidéo explicative</a></h5>
        <div id="affichageVideoUnique" class="info-content">
          <iframe id="videoUnique" width="560" height="315" src="https://www.youtube.com/embed/Vz3TqSVN9OU" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>

      <div class="tab-pane" id="info-MusicInput">
        <h5>Comment mettre une musique dans un qrcode ? </h5>
        <hr>

        <h5><a href="#openModal">Ouvrir la fenêtre de saisie de la musique</a></h5>
        <div id="openModal" class="info-content">
          <ul>
            <li>Cliquer sur le bouton <img src="../rendererProcess/assets/images/btnMusic.png"></li>
            <li>Une boite de dialogue avec une zone de saisie va s'ouvrir<br>
              <img class="modalMusic" src="../rendererProcess/assets/images/modalMusic.png">
            </li>
          </ul>
        </div>
        <h5><a href="#copyLink">Copier le lien téléchargeable de la musique</a></h5>
        <div id="copyLink" class="info-content">
          <h6><a href="#google">Google Drive</a></h6>
          <div id="google" class="info-content">
            <ul class="list components">
              <li>
                Aller sur internet, se rendre sur son compte Google Drive (https://drive.google.com), se connecter
                éventuellement
              </li>
              <li>
                Faire clic-droit sur le fichier audio en question
              </li>
              <li>
                Cliquer sur "Obtenir le lien partageable"
              </li>
              <li>
                Choisir "Lecteur" pour "Tous les utilisateurs disposant du lien"
              </li>
              <li>
                Copier le lien
              </li>
              <li>
                Revenir sur l'application QRLudo
              </li>
              <li>
                Vidéo résumant les étapes ci dessus
              </li>
            </ul>
          </div>

          <h6><a href="#dropbox">Dropbox</a></h6>
          <div id="dropbox" class="info-content">
            <ul class="list components">
              <li>
                Aller sur internet, se rendre sur son compte Dropbox (https://www.dropbox.com), se connecter
                éventuellement
              </li>
              <li>
                Survoller avec la souris le fichier audio en question
              </li>
              <li>
                Cliquer sur "Partager", un popup va s'ouvrir
              </li>
              <li>
                En bas à droite du popup ouvert, cliquer sur "Créer un lien"
              </li>
              <li>
                Toujours sur le popup, cliquer sur "Copier le lien" en bas à droite
              </li>
              <li>
                Revenir sur l'application QRLudo
              </li>
              <li>
                Vidéo résumant les étapes ci dessus
              </li>
            </ul>
          </div>
        </div>

        <h5><a href="#pasteURL">Coller le lien récemment copié</a></h5>
        <div id="pasteURL" class="info-content">
          <ul class="list components">
            <li>
              Faire clic-droit sur la zone de saisie musique
            </li>
            <li>
              cliquer sur "Coller le lien" (ou avec le clavier faire la combinaison de touches Ctrl + V)
            </li>
          </ul>
        </div>

      </div>

      <div class="tab-pane" id="info-Import">

        <h5>Importer un QR-Code Unique ou Multiple</h5>
        <hr>

        <ul>
          <li>Cliquer sur le bouton <img src="../rendererProcess/assets/images/infos_import/boutonCharger.png"></li>
          <li>
            Une boite de dialogue s'ouvre </br>
            <img class="modalCharger" src="../rendererProcess/assets/images/infos_import/modalCharger.png">
          </li>
          <li>
            Cliquer sur le bouton
            <img src="../rendererProcess/assets/images/infos_import/modalChargerChoisirFichier.png">
          </li>
          <li>Choisir le qrcode à importer</li>
          <li>Cliquer sur le bouton << Valider>> pour importer le qrcode,</br>
              << Annuler>> pour annuler </br>
                <img src="../rendererProcess/assets/images/infos_import/modalChargerValider.png">
          </li>
          <li>Le QR-Code sera importé recréé et affiché.
          </li>
        </ul>

      </div>

      <div class="tab-pane" id="info-multiple">
        <h5>Créer un QR-Code Multiple</h5>
        <hr>

        <h5><a href="#affichageVideoMultiple" id="buttonAffichageVideoMultiple">Vidéo explicative</a></h5>
        <div id="affichageVideoMultiple" class="info-content">
          <iframe id="videoMultiple" width="560" height="315" src="https://www.youtube.com/embed/vltlef6QsLc" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <h5><a href="#affichageTexte">Texte explicatif</a></h5>
        <div id="affichageTexte" class="info-content">
          <ul>
            <li>Cliquer sur le bouton <img src="../rendererProcess/assets/images/infos_multiple/boutonmultiple.png"></li>
            <li>
              La zone correspondante à la création de QR-Code Multiple va s'afficher </br>
              <img class="zonemultiple" src="../rendererProcess/assets/images/infos_multiple/zonemultiple.png">
            </li>
            <li>Saisir le nom du QR-Code</li>
            <li>
              Depuis votre ordinateur Glisser les QR-Codes uniques à ajouter et les déposer sur l'appplication, sur la
              zone
              <img src="../rendererProcess/assets/images/infos_multiple/deposermultiple.png">
            </li>
            <li>
              <video width="auto" height="500" controls loop>
                <source src="../rendererProcess/assets/images/infos_multiple/multiple.mp4" type="video/mp4">
              </video>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-pane" id="info-exercice-qrcode">
        <h5>Comment utiliser les QR Exercices ?</h5>
        <hr>

        <h5><a href="#affichageVideoExercice" id="buttonAffichageVideoExercice">Vidéo explicative</a></h5>
        <div id="affichageVideoExercice" class="info-content">
          <iframe id="videoExercice" width="560" height="315" src="https://www.youtube.com/embed/81nh-3my0KU" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>

      <div class="tab-pane" id="info-exercice-reco-vocale">
        <h5>Comment utiliser les exercices à reconnaissance vocale ?</h5>
        <hr>

        <h5><a href="#affichageVideoQuestionOuverte" id="buttonAffichageVideoQuestionOuverte">Vidéo explicative - Question ouverte</a></h5>
        <div id="affichageVideoQuestionOuverte" class="info-content">
          <iframe id="videoQuestionOuverte" width="560" height="315" src="https://www.youtube.com/embed/_slmGTeTA9I" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <h5><a href="#affichageTexteExplicatifQCM" id="buttonAffichageTexteExplicatifQCM">Texte explicatif - QCM</a></h5>
        <div id="affichageTexteExplicatifQCM" class="info-content">
          <ul>
            <li>Pour accéder à l'exercice QCM il faut cliquer sur l'icône suivante : <img src="../rendererProcess/assets/images/infos_qcm/boutonRecoVocale.png"></li>
            <li>Puis choisir l'onglet QCM : <img src="../rendererProcess/assets/images/infos_qcm/ongletQCM.png"></li>
            <br/>
            <li>La zone de création de l'exercice va alors s'afficher :
              <br/>
              <img src="../rendererProcess/assets/images/infos_qcm/interfaceQCM.png" height="500px">
            </li>
            <br/>
            <li>L'objectif est de créer un exercice composé de plusieurs questions à choix multiples</li>
            <li>Pour cela, chaque question aura cette composition : </li>
            <img src="../rendererProcess/assets/images/infos_qcm/questionQCM.png">
            <br/>
            <li>Vous retrouvez un champ question où vous pouvez y écrire du texte ou y attribuer un audio à l'aide du bouton <img src="../rendererProcess/assets/images/btnMusic.png"></li>
            <li>Vous pouvez vider le contenu du champ à l'aide de ce bouton <img src="../rendererProcess/assets/images/btnVider.png"></li>
            <li>Vous pouvez cacher ou afficher le contenu de toute la rubrique question avec ce bouton <img src="../rendererProcess/assets/images/infos_qcm/boutonCollapse.png"></li>
            <li>Vous pouvez supprimer la rubrique question et tout son contenu avec ce bouton <img src="../rendererProcess/assets/images/infos_qcm/supprQuestion.png"></li>
            <li>Ensuite vous retrouvez une zone de réponses à la question où vous pouvez préciser son texte et s'il s'agit d'une bonne ou une mauvaise réponse à l'aide du bouton à cocher</li>
            <li>Vous pouvez ajoutez autant de réponse que vous souhaitez à l'aide de ce bouton <img src="../rendererProcess/assets/images/infos_qcm/ajouterRep.png"></li>
            <li>Vous pouvez supprimez une réponse avec ce bouton présent à côté de chaque réponse<img src="../rendererProcess/assets/images/btnVider.png"></li>
            <li>Une fois que vous avez fini de compléter votre question vous pouvez créer une nouvelle rubrique question avec ce bouton <img src="../rendererProcess/assets/images/infos_qcm/ajouterQuestion.png"></li>
            <li>Pour finir, vous retrouvez deux champs où vous pouvez préciser le texte ou l'audio qui sera lu en cas de bonne ou mauvaise réponse à une question</li>
            <img src="../rendererProcess/assets/images/infos_qcm/messages.png">
          </ul>
        </div>
      </div>


      <div class="tab-pane" id="info-serious-game">
        <h5>Comment utiliser le Serious Game ?</h5>
        <hr>

        <h5><a href="#affichageTexteExplicatifSeriousGame" id="buttonAffichageTexteExplicatifSeriousGame">Texte explicatif</a></h5>
        <div id="affichageTexteExplicatifSeriousGame" class="info-content">
          <ul>
            <li>Pour accéder à l'exercice Serious Game il faut cliquer sur l'icône suivante : <img src="../rendererProcess/assets/images/infos_serious_game/boutonSeriousGame.png"></li>
            <li><br/></li>
            <li>La zone de création de l'exercice va alors s'afficher :
              <br/>
              <img src="../rendererProcess/assets/images/infos_serious_game/zoneSeriousGame.png" height="500px">
            </li>
            <li><br/></li>
            <li>L'objectif de cette exercice est de pouvoir créer une histoire composée d'énigmes.</li>
            <li>Pour cela vous avez à votre dispostion une palette qui permet de créer les différentes étapes de l'histoire par le biais de noeuds et de flèches.</li>
            <li>
              <table>
                <tr>
                  <td>
                    <img src="../rendererProcess/assets/images/infos_serious_game/paletteSeriousGame.png">
                  </td>
                  <td>
                    <ol>
                      <li>Un bouton pour créer un noeud de texte</li>
                      <br/>
                      <li>Un bouton pour créer un noeud de question de type QCM</li>
                      <br/>
                      <li>Un bouton pour créer un noeud de question de type Question Ouverte</li>
                      <br/>
                      <li>Un bouton pour créer un noeud de question de type QR Exercice</li>
                      <br/>
                      <li>Un bouton pour créer une flèche entre deux éléments</li>
                      <br/>
                      <li>Un bouton pour dupliquer un noeud</li>
                      <br/>
                      <li>Un bouton pour supprimer un élément</li>
                      <br/>
                      <li>Un bouton pour selectionner un élément</li>
                      <br/>
                      <li>Un bouton pour se déplacer sur la zone de dessin</li>
                    </ol>
                  </td>
                </tr>
              </table>
            </li>
            <br/>
            <li>Pour chacun de ces boutons vous devez cliquer sur la zone graphique pour que cela ai un effet.</li>
          </ul>
          <br/>
          <ul>
            <li>Avant d'expliquer le fonctionnement des outils, il y a deux règles à respecter pour créer un Serious Game valide : </li>
            <ul>
              <li>Chaque noeud doit avoir un noeud unique</li>
              <li>Une histoire doit avoir un seul noeud de départ.</li>
              <li>Une histoire doit avoir un seul noeud de fin. De plus, il est impossible de finir l'histoire par une question.</li>
              <li>Tous les champs de chaque forme doivent être rempli</li>
            </ul>
            <li>Si une de ces règles n'est pas respecté une erreur vous sera affiché lors de la génération. De plus, les noeuds concerné seront affiché en rouge afin que vous puissiez les repérer</li>
          </ul>
          <br/>
          <ul>
            <li><u>Fonctionnement des outils : </u></li>
            <ol>
              <li><u>Noeud texte</u></li>
              <ul>
                <li>Un noeud texte est representé par un rectangle qui possède un point d'entrée et un seul point de sortie.</li>
                <li>Ce noeud texte représente une étape dans l'histoire où du texte ou un fichier audio sera lu.</li>
                <li>Pour remplir les informations du noeud, lorsque vous cliquez sur la forme une nouvelle zone apparaît à la droite de votre écran où un formulaire est mis à votre disposition afin de remplir les informations du noeud.</li>
                <li><strong>À chaque fois que vous modifiez des informations dans le formulaire il est nécessaire de cliquer sur le bouton "Appliquer modification".</strong></li>
                <li><strong>Sinon les dernières informations non enregistrées seront perdues</strong></li>
                <li>
                  <img src="../rendererProcess/assets/images/infos_serious_game/texteSeriousGame.png" height="400px">
                </li>
                <br/>
                <li>Chaque champ est obligatoire, le nom de la forme doit être unique et sert à afficher un nom sur la forme afin de pouvoir la différencier des différents noeuds. Quant au champ suivant c'est le texte qui sera lu lors de la lecture du noeud sur l'application mobile QR Ludo. </li>
                <br/>
              </ul>
              <li><u>Noeud QCM</u></li>
              <ul>
                <li>Un noeud QCM est représenté par un triangle vert qui possède un point d'entrée et un point de sortie par réponses possibles à la question.</li>
                <li>Ce noeud représente une étape dans l'histoire où il faudra répondre oralement à une question sous forme d'un QCM.</li>
                <li>Pour remplir les informations du noeud, lorsque vous cliquez sur la forme une nouvelle zone apparaît à la droite de votre écran où un formulaire est mis à votre disposition afin de remplir les informations du noeud.</li>
                <li><strong>À chaque fois que vous modifiez des informations dans le formulaire il est nécessaire de cliquer sur le bouton "Appliquer modification".</strong></li>
                <li><strong>Sinon les dernières informations non enregistrées seront perdues</strong></li>
                <li>
                  <img src="../rendererProcess/assets/images/infos_serious_game/QCMSeriousGame.png" height="400px">
                </li>
                <br/>
                <li>Chaque champ est obligatoire, le nom de la forme doit être unique et sert à afficher un nom sur la forme afin de pouvoir la différencier des différents noeuds.</li>
                <li>Le champ question est la question qui sera lu lors de la lecture du QR Code sur l'application mobile QR Ludo.</li>
                <li>Ensuite, il est possible de définir les réponses possibles afin de répondre à la question</li>
              </ul>
              <br/>
              <li><u>Noeud Question Ouverte</u></li>
              <ul>
                <li>Un noeud Question Ouverte est représenté par un triangle jaune qui possède un point d'entrée et un point de sortie par réponses possibles à la question.</li>
                <li>Ce noeud représente une étape dans l'histoire où il faudra répondre oralement à une question.</li>
                <li>Pour remplir les informations du noeud, lorsque vous cliquez sur la forme une nouvelle zone apparaît à la droite de votre écran où un formulaire est mis à votre disposition afin de remplir les informations du noeud.</li>
                <li><strong>À chaque fois que vous modifiez des informations dans le formulaire il est nécessaire de cliquer sur le bouton "Appliquer modification".</strong></li>
                <li><strong>Sinon les dernières informations non enregistrées seront perdues</strong></li>
                <li>
                  <img src="../rendererProcess/assets/images/infos_serious_game/QOSeriousGame.png" height="400px">
                </li>
                <br/>
                <li>Chaque champ est obligatoire, le nom de la forme doit être unique et sert à afficher un nom sur la forme afin de pouvoir la différencier des différents noeuds.</li>
                <li>Le champ question est la question qui sera lu lors de la lecture du QR Code sur l'application mobile QR Ludo.</li>
                <li>Ensuite, il est possible de définir les réponses possibles afin de répondre à la question.</li>
                <li>Pour cela, la première question est non modifiable et correspond à la réponse en cas de mauvaise réponse.</li>
                <li>Tout autres réponses que vous ajouterez seront considérées comme une bonne réponse. Il vous est conseillé de préciser des mots-clés comme réponse.</li>
              </ul>
              <br/>
              <li><u>Noeud Question QR</u></li>
              <ul>
                <li>Un noeud Question QR est représenté par un triangle bleu qui possède un point d'entrée et un point de sortie par réponses possibles à la question.</li>
                <li>Ce noeud représente une étape dans l'histoire où il faudra répondre à l'aide d'un QR Unique à une question.</li>
                <li>Pour remplir les informations du noeud, lorsque vous cliquez sur la forme une nouvelle zone apparaît à la droite de votre écran où un formulaire est mis à votre disposition afin de remplir les informations du noeud.</li>
                <li><strong>À chaque fois que vous modifiez des informations dans le formulaire il est nécessaire de cliquer sur le bouton "Appliquer modification".</strong></li>
                <li><strong>Sinon les dernières informations non enregistrées seront perdues</strong></li>
                <li>
                  <img src="../rendererProcess/assets/images/infos_serious_game/QRSeriousGame.png" height="400px">
                </li>
                <br/>
                <li>Chaque champ est obligatoire, le nom de la forme doit être unique et sert à afficher un nom sur la forme afin de pouvoir la différencier des différents noeuds.</li>
                <li>Le champ question est la question qui sera lu lors de la lecture du QR Code sur l'application mobile QR Ludo.</li>
                <li>Ensuite, il est possible de définir les réponses possibles afin de répondre à la question.</li>
                <li>Pour cela, vous devez cliquez sur le bouton QR à côté de chaque réponse pour choisir un QR Unique sur votre ordinateur</li>
              </ul>
              <br/>
              <li><u>Les flèches</u></li>
              <ul>
                <li>Les flèches ont pour but de relier les noeuds entre eux afin de déterminer l'ordre de lecture de l'histoire.</li>
                <li>Pour cela, il y a différentes règles à respecter : </li>
                <ul>
                  <li>Une flèche peut partir seulement d'un point de sortie (rouge) vers un point d'entrée (vert)</li>
                  <li>Pour créer une flèche vous pouvez faire un clic droit sur un point de sortie ou cliquer sur le bouton flèche sur la palette puis ensuite créer la flèche à partir d'un clic gauche</li>
                  <li>Chaque noeud, sauf le dernier noeud de l'histoire, doit avoir une flèche et seulement une pour chacun de ces points de sortie</li>
                  <li>Chaque noeud, sauf le premier noeud de l'histoire, doit avoir au moins une flèche à son point d'entrée</li>
                </ul>
                <br/>
                <li>Voici un exemple de schéma possible : </li>
                <li>
                  <img src="../rendererProcess/assets/images/infos_serious_game/flecheSeriousGame.png" height="500px">
                </li>
              </ul>
              <br/>
              <li><u>La duplication de noeud</u></li>
              <ul>
                <li>En cliquant sur le 6ème bouton de la palette vous avez la possibilité de dupliquer un noeud existant ainsi que tous ces champs.</li>
              </ul>
              <br/>
              <li><u>La suppresion</u></li>
              <ul>
                <li>Pour supprimer un élément vous avez deux possibilités : </li>
                <ul>
                  <li>Utiliser le bouton du clavier <i>Suppr</i>. Cette méthode permet seulement de supprimer un noeud. Pour cela, il vous suffit de cliquer sur le noeud que vous souhaitez supprimer puis le bouton <i>Suppr</i>.</li>
                  <li>Utiliser le 7ème bouton de la palette. Pour cela, il faut cliquer sur ce bouton puis sur le noeud que vous souhaitez supprimer.</li>
                </ul>
              </ul>
              <br/>
              <li><u>La sélection</u></li>
              <ul>
                <li>Vous pouvez sélectionner des noeuds à l'aide du 8ème bouton de la palette.</li>
              </ul>
              <br/>
              <li><u>Le déplacement</u></li>
              <ul>
                <li>Vous pouvez déplacer l'ensemble du dessin avec le 9ème bouton de la palette.</li>
              </ul>
              <li><u>Le zoom</u></li>
              <ul>
                <li>Vous avez à votre dispostion une barre de zoom en bas à droite de la zone de dessin.</li>
                <li>Vous pouvez aussi zoomer ou dézoomer à l'aide de la molette de la souris.</li>
              </ul>
            </ol>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>

</div>


<script>
  $(document).ready(function () {
    switch (remoteElectron.getGlobal('sharedObject').ongletAideActif) {
      case 'unique':
        document.getElementById("unique-info").classList.add("active");
        document.getElementById("info-unique").style.display = "block";
        break;
      case 'multiple':
        document.getElementById("multiple-info").classList.add("active");
        document.getElementById("info-multiple").style.display = "block";
        break;
      case 'exerciceQrCode':
        document.getElementById("exo-qrcode-info").classList.add("active");
        document.getElementById("info-exercice-qrcode").style.display = "block";
        break;
      case 'exerciceRecoVocale':
        document.getElementById("exo-reco-vocale-info").classList.add("active");
        document.getElementById("info-exercice-reco-vocale").style.display = "block";
        break;
      case 'seriousGame':
        document.getElementById("serious-game-info").classList.add("active");
        document.getElementById("info-serious-game").style.display = "block";
        break;
    }
  });
</script>

<script type="text/javascript" src="../rendererProcess/view/aide/script_info.js"></script>