<!-- contenu page Serious Game -->
<!--Panel-->
<div class="col-sm-12" style="height: 800px;">
    <div class="row" style="height: 100%;">
        <div class="col-8 card" style="height: 100%;">
            <div class="row">
                <div class="col card">
                    <div id="btnInfo">
                        <button class="btn btn-outline-success" id="infos-serious-game"><i
                                class="fa fa-info-circle"></i></button>
                    </div>
                    <div class="text-center" id="textPresentation">
                        Création de QR Code Serious Game<br>
                        Jeu à but pédagogique <br />
                        Il existe différents types d'énigmes pour rendre le scénario plus riche.
                    </div>
                    <div class="alert alert-success" role="alert" id="alertExportationOk" style="display:none"> Votre
                        projet
                        a
                        bien
                        été
                        enregistré. </div>
                    <div class="alert alert-danger" role="alert" id="alertQuestionVideError" style="display:none">
                        Veuillez
                        saisir
                        le
                        texte lié à votre jeu. </div>
                    <div class="alert alert-danger" role="alert" id="alertNombreReponseVideError" style="display:none">
                        Veuillez
                        saisir
                        un nombre de réponses correct. </div>
                    <div class="alert alert-danger" role="alert" id="alertQuestionExistError" style="display:none"> La
                        question
                        existe
                        déjà. </div>
                    <div class="alert alert-danger" role="alert" id="alertChampsEmptyError" style="display:none">
                        Veuillez
                        remplir
                        tous
                        les champs </div>

                    <!-- Diagramme Serious Game-->
                </div>
            </div>
            <div class="row " style="height:75%;">
                <div id="seriousGameDiagram" style="width: 100%; height:100%;">

                </div>
            </div>
            <div class="card-footer form-inline">
                <div class="card col-md-auto ">
                    <button type="button" style="margin-top:10px" data-toggle="modal"
                        class="btn btn-outline-success btn-unique-xl" data-target="#confirmation">
                        <i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser
                    </button>
                </div>
                <div class="card col-md-auto">
                    <button type="button" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                        id="saveQRCode" disabled>
                        <i class="fa fa-download"></i>&nbsp;&nbsp;Exporter
                    </button>
                    <button type="submit" style="margin-top:10px" class="btn btn-outline-success btn-unique-xl"
                        id="generateSG">
                        <i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer
                    </button>
                </div>
            </div>
        </div>
        <!--/.Panel-->

        <!-- Modal Popup Fichier audio -->
        <div class="modal fade" id="listeMusic" tabindex="-1" role="dialog" data-backdrop="static"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un fichier audio</h5>
                        <button type="button" class="close" id="closeModalListeMusic" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body scrollbar-success">
                        <div class="list-group" id="elementsAudio">
                            <div class="form-group">

                                <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Veuillez
                                    copier
                                    et coller le
                                    lien téléchargeable du fichier audio</label>
                                <div class="col-sm-12">
                                    <input type="text" id="musicUrl" name="musicUrl" class="form-control"
                                        onpaste="getMusicFromUrl()">
                                </div>
                                <br>
                                <button type="button" class="btn btn-outline-success" id="showInfo"
                                    title="Afficher aide">
                                    <i class="fa fa-info-circle"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Modal Popup Fichier Audio -->

        <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields"
                            onclick="deleteGame()">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Panel -> zone pour afficher le QrCode produit -->
        <div class="col-4" style="height: 100%;">
            <div class="row h-50" >


            </div>
            <div class="row h-50">
                <div class="card h-100" id="qr-zone">
                    <script>
                        $("#qr-zone").load(path.join(__dirname.match('.*app')[0], "/rendererProcess/components/zoneQrCode/QR-zone.html"));
                    </script>
                </div>
            </div>
        </div>
    </div><!-- row -->
</div><!-- container -->
<script type="text/javascript" src="../rendererProcess/utils/p5.min.js"></script>
<script type="text/javascript" src="../rendererProcess/view/seriousGame/script_serious_game.js"></script>