<!-- contenu page multiple -->

<!--Panel-->

<div class="col-sm-8 card">
  <div id="btnInfo">
    <button class="btn btn-outline-success" id="infos-multiple">Aide    <i class="fa fa-info-circle"></i></button>
  </div>
  <div class="text-center" id="textPresentation">
    Création de QR Code multiple.<br>
    Les QR Codes multiples contiennent plusieurs QR Codes uniques.
  </div>
  <div class="card-body">
    <div id="messages"></div>
    <h6 class="card-title"></h6>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#qrCodes">QR - Multiple</a>
      </li>
    </ul> 



    <div class="tab-content scrollbar-success" id="dropZone" style="height:300px; overflow-y: scroll;overflow-x: hidden; margin-top:15px;">
      <div id="texte" class="tab-pane fade in active show">
        <div class="form-row">
          <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Nom du QR Code</label>
          <div class="col-sm-7">
            <input type="text" id="qrName" name="NomQR" class="form-control" onkeyup="activer_button(this.value);verifNombreCaractere();">
          </div>
          <div class="form-check col-sm text-success" style="margin-left: 5vw;">
            <input type="checkbox" class="form-check-input" id="check-ios" onclick="saveType();"/>
            <label class="form-check-label">Rétrocompatibilité Ios</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <div id="cible">

            </div>
          </div>
        </div>


      </div>
      <div id="txtZone" class="tab-pane fade in active show ">
      </div>
    </div>

    <div class="progress" style= "width:94% ; margin-left: 3%;">
      <div id="progressbarId" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="250" style="width:0%"></div>
    </div>
  </div>

  <div class="card-footer form-inline">
    <!--<label class="btn btn-outline-success">-->
    <!--Parcourir&hellip; <input type="file" style="display: none;"> -->
    <!--</label>-->
    <div class="card col-md-auto">
      <button type="button" class="btn btn-outline-success btn-unique-xl " id="addNewQR" data-toggle="modal"
        data-target="#dialogAjoutNewQrcode"><i class="fa fa-plus-square"></i>&nbsp;&nbsp;Ajouter QR-Code</button>

      <button style="margin-top:10px" type="submit" class="btn btn-outline-success btn-unique-xl" data-toggle="modal"
        id="emptyZones" data-target="#confirmation"><i class="fa fa-undo"></i>&nbsp;&nbsp;Réinitialiser</button>
    </div>
    <div class="card col-md-auto">
      <button type="button" class="btn btn-outline-success btn-unique-xl " id="saveQRCode"  disabled><i
          class="fa fa-download"></i>&nbsp;&nbsp;Exporter</button>
      <button style="margin-top:10px" type="submit" class="btn btn-outline-success btn-unique-xl" id="preview"
        disabled><i class="fa fa-cogs"></i>&nbsp;&nbsp;Générer</button>
    </div>
  </div>
</div>

<!--/.Panel-->
<!--Panel -> zone pour afficher le QrCode produit -->
<div class="col-sm-4 card" id="qr-zone">
  <script>
    $("#qr-zone").load(getNormalizePath(path.join(__dirname.match('.*app')[0],"/rendererProcess/components/zoneQrCode/QR-zone.html")));
  </script>
</div>
<!--/.Panel-->
<div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Etes vous sûr de vouloir réinitialiser ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="emptyFields">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- debut fenetre  pour ajouter nouveaux qr code   -->
<div class="modal fade" id="dialogAjoutNewQrcode" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" align="right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label class="control-label" style="color:#28a745;padding-top:10px;">Nom du QR code </label>
            </td>
            <td>
              <div class="form-inline">
                <input type="text" class="form-control col-sm-12" id="nomQR" placeholder="Saisissez Nom QrCode ">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <label class="control-label" style="color:#28a745;padding-top:10px;">Contenu QR code </label>
            </td>
            <td>
              <div class="form-inline">
                <input type="text" class="form-control col-sm-12" id="ContenuQR"
                  placeholder="Saisissez le contenu du qrcode ">
              </div>
            </td>
          </tr>

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" id="showAudio" class="btn btn-outline-success btn-unique-xl" name="ajouterSon" data-toggle="modal" data-target="#listeMusic" style="margin-left:10px;"> 
          <i class="fa fa-music"></i>&nbsp;&nbsp;Audio</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
          id="fermeSansEnregistrer">Annuler</button>
        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id="validerDataDialog"
          onclick="ajoutQrCcode();verifNombreCaractere();">Valider</button>
      </div>
    </div>
  </div>
</div>
<!-- fin fenetre pour ajouter nouvelle reponse  -->

<!-- Modal Popup Fichier audio -->
<div class="modal fade" id="listeMusic" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Ajouter un fichier audio</h5>
                <button type="button" class="close" id="closeModalListeMusic" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body scrollbar-success">
                <div class="list-group" id="elementsAudio">
                    <div class="form-group">

                        <label class="col-sm-12 control-label" style="color:#28a745;padding-top:10px;">Veuillez copier
                            et coller le
                            lien téléchargeable du fichier audio</label>
                        <div class="col-sm-12">
                            <input type="text" id="musicUrl" name="musicUrl" class="form-control"
                                onpaste="getMusicFromUrl()">
                        </div>
                        <br>
                        <button type="button" class="btn btn-outline-success" id="showInfo" title="Afficher aide">
                            <i class="fa fa-info-circle"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Popup Fichier Audio -->

<!-- Fin contenu page multiple -->



<script src="../rendererProcess/view/multipleQr/script_multiple.js"></script>